body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient( #ffb8c4cb, #ff7474);
  min-height: 100vh;
  text-align: center;
  animation-name: fade-in-box;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.container {
  background-color: rgb(255, 255, 255);
  padding: 0px 20px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);

  
}
@keyframes fade-in-box {
  0% {
    opacity: 0.2;
    transform: translateY(-80px);
  }
    50%{
    opacity: 0.5;
    transform: translateY(60px);
}

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
.heading, .input-container, #todolist {
  animation-name: fade-in-content;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.heading {
  animation-delay: 0.8s;
}
.input-container {
  animation-delay: 0.9s;
}
#todolist {
  animation-delay: 1s;
}
@keyframes fade-in-content {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;  
  }
}
.completed {
  text-decoration: line-through;
  color: grey;
  transition: color 0.2s ease;
}
@keyframes messageBlink{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#message {
  font-style: italic;
  font-size: 10px;
  color: rgb(172, 1, 1);
  margin: 0px;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  
}
#message.animate {
  animation: messageBlink 0.3s ease-in-out;
}
h1 {
  margin: 10px 0px 0px 0px;
  font-size: 2.5em;
}
#infoTodo {
  margin: 10px 0px 20px 0px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes liAnimation {
    0% {
      
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  #todoList li {
    animation-name: liAnimation;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
    list-style: none;
    font-size: 16px;
    margin: 0px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #todoList{
    padding: 0;
  }
  span{
    margin: 0px 5px 0px 0px;
    cursor: pointer;
  }
  span:hover{
    text-decoration: line-through;
  }
  .delete-btn{
    background: none;
    border: none;
    cursor: pointer;
    transition-property: filter;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 10px;
  }
  .delete-btn:hover{
    filter: brightness(0.8);
  }
#inputTodo {
  outline: none;
  border-radius: 3px;
  border: 1px solid #9e9e9e;
  padding: 2px;
  width: 145px;
}
#inputTodo:focus {
  border: 1.5px solid rgb(57, 77, 255);
}

