body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#fec5c4, #ff7c7c);
  min-height: 100vh;
  text-align: center;
  animation-name: fadeInContainer;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInContainer {
  0% {
    opacity: 0.2;
    transform: translateY(-80px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  background-color: rgb(255, 255, 255);
  min-width: 983px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
  min-height: 417px;
  margin: 12px 0px 0px 0px;
}

.heading, .inputContainer, #todolist {
  animation-name: fadeInContent;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

.heading {
  animation-delay: 0.8s;
}

.inputContainer {
  animation-delay: 0.9s;
}

#todolist {
  animation-delay: 1s;
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.completed {
  text-decoration: line-through;
  color: #7c7c7c;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

#message {
  font-style: italic;
  color: #d8161c;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 14px 0px 0px 10px;
  font-size: 30px;
}

#message.animate {
  animation-name: messageBlink;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes messageBlink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  margin: 33px 0px 0px 0px;
  font-size: 97px;
}

#infoTodo {
  margin: 30px 0px 23px 0px;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#todoList li {
  animation-name: liAnimation;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
  list-style: none;
  font-size: 50px;
  margin: 0px 0px 27px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes liAnimation {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

#todoList {
  margin: 45px 0px 77px 0px;
  padding: 0;
}

span {
  cursor: pointer;
}

span:hover {
  text-decoration: line-through;
}

.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  transition-property: filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  font-size: 28px;
  padding: 0;
  width: 69px;
  margin: 0px 0px 0px 8px;
}

.deleteBtn:hover {
  filter: brightness(0.8);
  background: none;
}

#inputTodo {
  outline: none;
  padding: 0;
  border-radius: 7px;
  border: 2px solid #989898;
  width: 462px;
  height: 67px;
  margin: 42px 9px 0px 0px;
  font-size: 39px;
  box-sizing: border-box;
}

button {
  border: 2px solid #989898;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  width: 107px;
  font-size: 40px;
  background-color: #ededed;
  padding: 9px;
}

button:hover {
  background-color: #e0e0e0;
}

#inputTodo:focus {
  border: 3px solid #0254c8;
}

button:hover {
  background-color: rgb(226, 226, 226);
}
